body, html {
    height: 100%;
}

.filli-future {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .filli-future {
        padding: 20px;
    }
    .filli-future .product-header {
        font-size: 45px !important;
    }
}
@media screen and (max-width: 768px) {
    .filli-future {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .filli-future .product-information {
        margin-left: 0 !important;
        width: 100%;
    }
    #__next {
        height: fit-content;
    }
}
@media screen and (max-width: 400px) {
    .filli-future {
        padding: 0px;
    }
}
.filli-future .product-information {
    margin-left: 50px;
}
.filli-future .product-header {
    font-weight: 900;
    font-size: 60px;
    height: 70px;
}
.filli-future .mySlides {
    width: 400px;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}
.filli-future .mySlides .arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 45%;
    z-index: 10;
    opacity: 0;
    transition: 0.1s linear;
}
.filli-future .mySlides .arrow:hover {
    opacity: 0.5;
}
.filli-future .mySlides .arrow-left {
    left: 0;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(255,255,255,0) 100%);
}
.filli-future .mySlides .arrow-right {
    right: 0;
    background: linear-gradient(-90deg, rgb(0, 0, 0) 0%, rgba(255,255,255,0) 100%);
}
.filli-future .image-container {
    display: flex;
    transition: transform 0.2s ease-in-out;
}
.filli-future img {
    width: 500px;
    aspect-ratio: 3 / 4;
    object-fit: contain;
    border: 1px black solid;
    border-radius: 15px;
}
.dots {
    display: flex;
    justify-content: center;
}
.dots .dot-container {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
}
.dots .dot-container .dot {
    width: 0px;
    height: 0px;
    background-color: black;
    border-radius: 50%;
    transition: all 0.04s ease-out;
    opacity: 0;
}
.dots .dot-container:hover .dot {
    width: 13px;
    height: 13px;
    opacity: 1;
}
.dots .dot-container.selected .dot {
    width: 20px;
    height: 20px;
    opacity: 1;
}
:root {
    --star-color: rgb(234, 234, 234);
    --star-background: #fc0;
}
  
.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rating .rating-text {
    margin-left: 10px;
    font-size: 10px;
}
.rating-stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 13px;
    font-family: Times;
    line-height: 1;
    
}
.rating-stars::before {
    content: '★★★★★';
    letter-spacing: -0.4px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.options-select {
    display: flex;
}
.options-select .select-item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    border: 1px solid black;
    border-radius: 10px;
    transition: 0.04s linear;
    cursor: pointer;
}
.options-select .select-item:first-child {
    margin: 0 20px 0 0;
}
.options-select .select-item:hover {
    color: white;
    background-color: black;
}
.options-select .select-item.selected {
    color: white;
    background-color: black;
}
.product-information {
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
}
.product-information .description {
    color:rgb(137, 137, 137);
    max-width: 500px;
    font-size: 13px;
    margin: 20px 0;
}
.product-information hr {
    margin: 20px 0;
}
.product-information .order-button {
    background-color: #b90000;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
.product-information .order-button:hover {
    background-color: #d21616;
}
.product-information .order-button:disabled {
    background-color: #edcece;
    color: #d87c7c;
}